spring:
  config:
    import: ""
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /
eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false
mqtt:
  broker: ${MQTT_BROKER}
  client:
    id: mqtt-ingest-service
    username: ${MQTT_USER}
    password: ${MQTT_PASS}
    sensor-topic: tele/+/+/+/SENSOR
    lwt-topic: tele/+/+/+/LWT
  qos: 1

rabbitmq:
  exchange:
    name: sensor.exchange
  queue:
    name: sensor.queue
  routing:
    measurement: sensor.tracking
    availability: sensor.availability