server:
  port: 8081

spring:
  application:
    name: mqtt-ingest-service

mqtt:
  broker: ${MQTT_BROKER}
  client:
    id: mqtt-ingest-service
    username: ${MQTT_USER}
    password: ${MQTT_PASS}
    topic: tele/+/SENSOR
  qos: 1