spring:
  application:
    name: mqtt-ingest-service
  config:
    import: ${SPRING_CONFIG_IMPORT:optional:configserver:http://localhost:8081}
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

mqtt:
  broker: ${MQTT_BROKER}
  client:
    id: mqtt-ingest-service
    username: ${MQTT_USER}
    password: ${MQTT_PASS}
    sensor-topic: tele/+/SENSOR
    lwt-topic: tele/+/LWT
  qos: 1

rabbitmq:
  exchange:
    name: sensor.exchange
  queue:
    name: sensor.queue
  routing:
    measurement: sensor.tracking
    availability: sensor.availability

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka}

server:
  port: 8082