spring:
  application:
    name: measurement-storage-service
  config:
    import: ${SPRING_CONFIG_IMPORT:optional:configserver:http://config-service:8081}
  rabbitmq:
    host: localhost
    port: 5672
    username: ${RABBITMQ_USER}
    password: ${RABBITMQ_PASS}

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/measurement_db}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: 'true'
    database-platform: org.hibernate.dialect.PostgreSQLDialect

rabbitmq:
  exchange:
    name: sensor.exchange
  queue:
    name: sensor.queue
  routing:
    measurement: sensor.tracking
    availability: sensor.availability

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://discovery-service:8761/eureka}

server:
  port: 8083