spring:
  application:
    name: config-service
  cloud:
    config:
      server:
        git:
          uri: https://github.com/bpmcircuits/thermo-watch.git
          default-label: main
          search-paths:
            - config-repo
          clone-on-start: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka}

server:
  port: 8081
management:
  endpoints:
    web:
      exposure:
        include: health, info